@model CategorySharedPageVM

<form asp-controller="Category" asp-action="UpdateCategory" method="post" class="form">


  
    <input type="hidden" asp-for="@Model.Category.ID" />

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Kategori Ismi</label>
        <input asp-for="Category.CategoryName" class="form-control">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Aciklama</label>
        <textarea class="form-control" asp-for="Category.Description" rows="3"></textarea>
    </div>

    <button class="btn btn-primary">
        Güncelle
    </button>





</form>