<table class="table table-striped table-hover">

    <thead>
        <tr>
            <th>Food Service  Functions </th>
            <th> </th>


        </tr>



    </thead>



    <tr>

        <th><a asp-controller="FoodService" asp-action="CreateFoodService"> Create FoodService </a></th>

    </tr>
    <tr>
        <th><a asp-controller="FoodService" asp-action="GetFoodServices">Get FoodServices </a></th>
    </tr>

</table>