@model PlaceRequestPageVM

<h3>Press for Get Categories <a asp-controller="Category" asp-action="GetCategories">Press</a></h3>
<form asp-controller="Category" asp-action="CreateCategory" method="post" class="form">


    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Category Name</label>
        <input asp-for="Category.CategoryName" class="form-control">
    </div>

    <button class="btn btn-primary">
        Add Category
    </button>



</form>