<table class="table table-striped table-hover">

    <thead>
        <tr>
            <th>Place  Functions </th>
            <th> </th>


        </tr>



    </thead>



    <tr>

        <th><a asp-controller="Place" asp-action="CreatePlace"> Create Place </a></th>

    </tr>
    <tr>
        <th><a asp-controller="Place" asp-action="GetPlaces">Get  Places </a></th>
    </tr>

</table>