@model PlaceSharedPageVM

<h1>Press for <a asp-controller="Category" asp-action="GetCategories">Get Places </a></h1>
<form asp-controller="Place" asp-action="UpdatePlace" method="post" class="form">


    <input type="hidden" asp-for="@Model.Place.ID" />

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Place Name</label>
        <input asp-for="Place.PlaceName" class="form-control">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Place Adress</label>
        <input asp-for="Place.Adress" class="form-control">
    </div>

    <button class="btn btn-primary">
        Update
    </button>
</form>