<table class="table table-striped table-hover">

    <thead>
        <tr>
            <th>Hostess  Functions </th>
            <th> </th>


        </tr>



    </thead>



    <tr>

        <th><a asp-controller="Hostess" asp-action="CreateHostess"> Create Hostess </a></th>

    </tr>
    <tr>
        <th><a asp-controller="FoodService" asp-action="GetHostesses">Get Hostesses </a></th>
    </tr>

</table>