<table class="table table-striped table-hover">

    <thead>
        <tr>
            <th>Category  Functions </th>
           


        </tr>



    </thead>



    <tr>
        
        <th><a asp-controller="Category" asp-action="CreateCategory"> Create Category </a></th>
    </tr>



</table>