<table class="table table-striped table-hover">

    <thead>
        <tr>
            <th> Sections</th>
            <th> Function</th>


        </tr>



    </thead>



    <tr>
        <th> Category </th>
        <th><a asp-controller="Category" asp-action="Index"> Category Functions </a></th>
    </tr>
    <tr>
        <th> Food Service </th>
        <th><a asp-controller="FoodService" asp-action="Index"> FoodService Functions </a></th>
    </tr>
    <tr>
        <th> Hostess </th>
        <th><a asp-controller="Hostess" asp-action="Index"> Hostess Functions </a></th>
    </tr>
    <tr>
        <th> Place </th>
        <th><a asp-controller="Place" asp-action="Index"> Place Functions </a></th>
    </tr>


</table>