<table class="table table-striped table-hover">

    <thead>
        <tr>
            <th>Flat  Functions </th>
            <th> </th>


        </tr>



    </thead>



    <tr>

        <th><a asp-controller="Flat" asp-action="CreateFlat"> Create Flat </a></th>

    </tr>
    <tr>
        <th><a asp-controller="Flat" asp-action="GetFlats">Get  Flats </a></th>
    </tr>

</table>