<table class="table table-striped table-hover" >

    <thead>
        <tr>
            <th> Sections</th>
            <th> Function</th>


        </tr>



    </thead>



    <tr>      
        <th> Category </th>
        <th><a asp-controller="Category" asp-action="Index"> Category Functions </a></th>       
    </tr>

    

</table>